.sobremi__info{
    font-family: 'Raleway', system-ui;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #464646;
    padding-top: 2%;
    padding-bottom: 2%;
    text-align: justify;
}