.perfil__foto{
    width: 370px;
    height: 370px;
    box-sizing: border-box;

}

.perfil__foto img{
    box-sizing: border-box;
    width: 360px;
    height: 360px;
    border-radius: 200px;
    
}